@import "./variables.scss";

@mixin mix-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin mix-flex-row {
    display: flex;
    flex-direction: column;
}

@mixin mix-absolute-centralise {
    position: absolute;
    top: $size-half-parent;
    left: $size-half-parent;
    transform: translate($size-negative-half-parent, $size-negative-half-parent);
}